// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";
@import "debug";
@import "users";
@import "sessions";


/*header*/

.pull-right {
    float: right;
    margin-right: 98px; /*set margin this way in your custom styesheet*/
  }

.navbar{
	margin-bottom: 30px;
}
